<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Node URL Monitor</title>
	<link rel="icon" href="/images/logo.png" type="image/png">
	<link rel="stylesheet" href="/styles/404.css">
	<script src="/scripts/404.js"></script>
</head>
<body>
	<!-- start the #main container of the page -->
	<div id="main">

		%%HEADER_PLACEHOLDER%%

		<div id="error-page-root"></div>

		%%FOOTER_PLACEHOLDER%%
		
	</div>
	<!-- close the #main container of the page  -->
</body>
</html>
