<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/dashboard.css">
	<script src="/scripts/dashboard.js"></script>
</head>
<body>
	<!-- start the #main container of the page -->
	<div id="main">
		
		%%HEADER_PLACEHOLDER%%

		<div class="page-content">
			<h1 id="title"></h1>
			<div class="user-details hide">
				<div id="user-personal-details">
					<table>
						<tbody>
							<tr>
								<td>Phone:</td>
								<td><input title="Cannot edit this field" class="user-phone" type="text" name="user-phone" disabled/></td>
							</tr>
							<tr>
								<td>First Name:</td>
								<td><input class="user-firstName" type="text" name="user-phone" /></td>
							</tr>
							<tr>
								<td>Last Name:</td>
								<td><input class="user-lastName" type="text" name="user-phone" /></td>
							</tr>
							<tr>
								<td>Email:</td>
								<td><input class="user-email" type="text" name="user-phone" /></td>
							</tr>
							<tr>
								<td>I agree to the <a href="#">terms and conditions</a>:</td>
								<td><input title="Cannot edit this field" type="checkbox" class="user-tosAgreement" checked disabled></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="user-check-details">
					<table>
						<thead>
							<tr>
								<th>Protocol</th>
								<th>URL</th>
								<th>Method</th>
								<th>SuccessCodes</th>
								<th>TimeoutSeconds</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		%%FOOTER_PLACEHOLDER%%

	</div>
	<!-- close the #main container of the page  -->
</body>
</html>
