<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/dashboard.css">
	<script src="/scripts/dashboard.js"></script>
</head>
<body>
	<!-- start the #main container of the page -->
	<div id="main">
		
		%%HEADER_PLACEHOLDER%%

		<div class="page-content">
			<h1 id="title"></h1>
			<div class="user-details hide">
				<div id="user-personal-details">
					<table>
						<tbody>
							<tr>
								<td>Phone:</td>
								<td>
									<input class="user-phone" type="text" name="user-phone" disabled/>
									<span>Cannot edit this field</span>
								</td>
							</tr>
							<tr>
								<td>First Name:</td>
								<td>
									<input class="user-firstName" type="text" name="user-firstName" disabled title/>
									<span>Previous value is stored if left empty</span>
								</td>
							</tr>
							<tr>
								<td>Last Name:</td>
								<td>
									<input class="user-lastName" type="text" name="user-lastName" disabled title/>
									<span>Previous value is stored if left empty</span>
								</td>
							</tr>
							<tr>
								<td>Email:</td>
								<td>
									<input class="user-email" type="text" name="user-email" disabled title/>
									<span>Previous value is stored if left empty</span>
								</td>
							</tr>
							<tr class="new-password-row hide">
								<td>Password:</td>
								<td>
									<input class="user-updated-password editable" type="text" name="user-updated-password" placeholder="Enter new Password" />
									<span>Previous value is stored if left empty</span>
								</td>
							</tr>
							<tr>
								<td>Agreed to <a href="#">terms and conditions</a>:</td>
								<td>
									<input type="checkbox" class="user-tosAgreement" checked disabled>
									<span>Cannot edit this field</span>
								</td>
							</tr>
						</tbody>
					</table>
					<input class="trigger-edit-user-details" type="button" value="Edit Details">
					<input class="update-user-details hide" type="button" value="Update Details">
					<input class="close-edit hide" type="button" value="Close">
				</div>
				<div id="user-check-details">
					<h1>Current checks</h1>
					<table id="current-checks">
						<thead>
							<tr>
								<th>Check ID</th>
								<th>Protocol</th>
								<th>URL</th>
								<th>Method</th>
								<th>SuccessCodes</th>
								<th>TimeoutSeconds</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div id="check-operation-update"></div>
					<h1>Create new Check</h1>
					<form id="new-check-form">
						<fieldset>
							<legend>Protocol</legend>
							<select name="protocol" id="new-check-protocol">
								<option value="http">http</option>
								<option value="https">https</option>
							</select>
						</fieldset>
						<fieldset>
							<legend>URL</legend>
							<input type="text" name="url" id="new-check-url" required>
						</fieldset>
						<fieldset>
							<legend>Method</legend>
							<select name="method" id="new-check-method">
								<option value="get">GET</option>
								<option value="post">POST</option>
								<option value="put">PUT</option>
								<option value="delete">DELETE</option>
							</select>
						</fieldset>
						<fieldset>
							<legend>Success Codes</legend>
							<label for="200"><input type="checkbox" name="statusCode" value="200">200</label>
							<label for="301"><input type="checkbox" name="statusCode" value="301">301</label>
							<label for="400"><input type="checkbox" name="statusCode" value="400">400</label>
							<label for="401"><input type="checkbox" name="statusCode" value="401">401</label>
							<label for="404"><input type="checkbox" name="statusCode" value="404">404</label>
							<label for="500"><input type="checkbox" name="statusCode" value="500">500</label>
						</fieldset>
						<fieldset>
							<legend>Timeout Seconds</legend>
							<select name="timeoutSec" id="new-check-timeoutSec">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</fieldset>
						<div class="submit-check-container">
							<input type="submit" value="Create New Check">
						</div>
					</form>
				</div>
			</div>
			<div class="pop-up hide"></div>
		</div>

		%%FOOTER_PLACEHOLDER%%

	</div>
	<!-- close the #main container of the page  -->
</body>
</html>
