<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Node URL Monitor</title>
	<link rel="icon" href="/images/logo.png" type="image/png">
	<link rel="stylesheet" href="/styles/sign-in.css">
	<script src="/scripts/sign-in.js"></script>
</head>
<body>
	<!-- start the #main container of the page -->
	<div id="main">

		%%HEADER_PLACEHOLDER%%

		<div class="page-content">
			<h1>Log In</h1>
			<form id = "login-form">
				<fieldset>
					<legend>Enter your credentials</legend>
					<div class="input-data">
						<input type="tel" class="phone" placeholder="Phone" required autocomplete="off">
						<input type="password" class="password" placeholder="Password" required autocomplete="off">
						<input type="submit" class="sign-in-user" value="Log In">
					</div>
				</fieldset>
			</form>
		</div>

		%%FOOTER_PLACEHOLDER%%
		
	</div>
	<!-- close the #main container of the page  -->
</body>
</html>
