<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/sign-up.css">
	<script src="/scripts/sign-up.js"></script>
</head>
<body>
	<!-- start the #main container of the page -->
	<div id="main">

		%%HEADER_PLACEHOLDER%%

		<div class="page-content">
			<h1>Create a new User</h1>
			<form id = "user-data">
				<fieldset>
					<legend>Fill in your data</legend>
					<div class="input-data">
						<input type="text" class="firstName" placeholder="First name" required autocomplete="off">
						<input type="text" class="lastName" placeholder="Last name" required autocomplete="off">
						<input type="email" class="email" placeholder="User email" required autocomplete="off">
						<input type="tel" class="phone" placeholder="Phone" required autocomplete="off">
						<input type="password" class="password" placeholder="Password" required autocomplete="off">
						<input type="password" class="reenter-password" placeholder="Re-enter Password" required autocomplete="off">
						<span class="tosAgreement">
							<label for="tosAgreement">I agree to the <a href="#">terms and conditions</a>:</label>
							<input type="checkbox" name="tosAgreement" required>
						</span>
						<input type="submit" class="submit-new-user" value="Submit">
					</div>
				</fieldset>
			</form>
		</div>

		%%FOOTER_PLACEHOLDER%%
		
	</div>
	<!-- close the #main container of the page  -->
</body>
</html>
