<!-- start FOOTER -->
<div id="footer">
	<h3 class="copyrights-text">
		Copyrights acquired | SOME COMPANY Inc.
	</h3>
	<div class="content">
		<div class="dev-reference-links">
			<ul class="links">
				<li class="dev-ref-link">
					<a href="/">webpack</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">express</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">babel</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">scss</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">node</a>
				</li>
			</ul>
		</div>
		<div class="link-to-github">
			<a href="">
				<span class="github-icon">github</span>
			</a>
		</div>
		<div class="social-share-icons">
			<ul class="share-icons-list">
				<li class="share-icon">
					<a href="#">fb-icon</a>
				</li>
				<li class="share-icon">
					<a href="#">insta-icon</a>
				</li>
				<li class="share-icon">
					<a href="#">twitter-icon</a>
				</li>
				<li class="share-icon">
					<a href="#">linkedin-icon</a>
				</li>
			</ul>
		</div>
		<div class="contact-info">
			contact info
		</div>
	</div>
</div>
<!-- end FOOTER -->