<!-- start FOOTER -->
<div id="footer">
	<h3 class="copyrights-text">
		Copyrights acquired | SOME COMPANY Inc.
	</h3>
	<div class="content">
		<div class="dev-reference-links">
			<p> &lt;development reference links/&gt; </p>
			<ul class="links">
				<li class="dev-ref-link">
					<a href="/">
						<img src="images/webpack_logo.png" alt="webpack_logo">
					</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">
						<img src="images/expressjs_logo.png" alt="express_logo">
					</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">
						<img src="images/babel_logo.png" alt="babel_logo">
					</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">
						<img src="images/sass_logo.png" alt="scss_logo">
					</a>
				</li>
				<li class="dev-ref-link">
					<a href="/">
						<img src="images/node_logo.png" alt="node_logo">
					</a>
				</li>
			</ul>
		</div>
		<div class="link-to-github">
			<p>find me on github ------&gt;</p>
			<a href="https://github.com/vamshi-krishna-kotla/node-url-monitor" target="_blank">
				<span class="github-icon">
					<img src="images/github.png" alt="link_to_github">
				</span>
			</a>
		</div>
		<div class="social-share-icons">
			<p> &lt;!-- share on social media --&gt;</p>
			<ul class="share-icons-list">
				<li class="share-icon">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li class="share-icon">
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li class="share-icon">
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li class="share-icon">
					<a href="#">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="contact-info">
			contact info
		</div>
	</div>
</div>

<!-- link for font-awesome icons -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- end FOOTER -->