body, html, * {
	margin: 0;
	padding: 0;
}

#main {
	position: relative;
	font-family: cursive;

	a {
		text-decoration: none;
	}

	div {
		position: relative;
	}

	.hide {
		display: none;
	}

	.alert {
		animation: fade-in 0.5s linear;
		border-radius: 0.5rem;
		padding: 1rem 2rem;
		transition: display 1s;
		margin: 0.5rem auto;

		a {
			margin: 1rem;
		}

		&.alert-success {
			background-color: green;
		}

		&.alert-fail {
			background-color: red;
		}

		&.alert-notify {
			background-color: yellow;
		}

		.alert-close {
			position: absolute;
			cursor: pointer;
			right: 0.5rem;
		}
	}

	#header {
		display: flex;
		background-color: darkgray;
		padding: 1.5rem 1rem;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		
		.link-to-home {
			width: 50%;
		}

		.menu {
			width: 50%;

			.menu-list {
				list-style-type: none;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				text-align: center;
				direction: rtl;
			}
		}
	}

	#footer {
		margin: 1rem 2px;
		padding: 1rem;
		background-color: darkgray;

		.copyrights-text {
			text-align: center;
			font-weight: normal;
		}

		.content {
			display: grid;
			grid-template-columns: 1fr 0.75fr 1fr;
			grid-template-areas: 
				"dev-reference-links dev-reference-links dev-reference-links"
				"link-to-github social-share-icons social-share-icons"
				"contact-info contact-info contact-info";

			div {
				border: 1px solid black;
				margin: 0.25rem;
				padding: 0.25rem;
			}

			img {
				width: 100px;
			}

			.dev-reference-links, .social-share-icons {
				p {
					text-align: center;
					font-family: monospace;
					font-size: 1.5rem;
					margin: 0.5rem 0 1rem;
				}
				ul {
					list-style-type: none;
					display: flex;
					flex-direction: row;
					justify-content: space-around;

					li {
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
				}
			}
			.dev-reference-links {
				grid-area: dev-reference-links;	
			}

			.social-share-icons {
				grid-area: social-share-icons;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				
				.share-icons-list {
					width: 100%;

					.share-icon i {
						font-size: 3rem;;
					}
				}
			}

			.link-to-github {
				grid-area: link-to-github;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;

				img {
					width: 50px;
				}
			}

			.contact-info {
				grid-area: contact-info;
			}
			
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}