@import '../styles/common';

.page-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.user-details {
		table {
			margin: 1rem auto;
		}
		#user-personal-details {
			display: block;

			input {
				&.user-phone, &.user-tosAgreement {
					cursor: not-allowed;
				}
			}
		}
		#user-check-details{
			display: block;

			tbody {
				tr:nth-child(odd) {
					background-color: grey;
				}
				tr:nth-child(even) {
					background-color: white;
				}
			}

			.no-check-row {
				text-align: center;
				background-color: yellowgreen;
			}
		}
	}
}